@use "variable" as v;
@use "mixin" as m;

#left2{
    .sp-bottom{
        text-align: center;
        height: 100%;
        h2{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            @include m.breakpoint(tablet){
                font-size: 40px;
                margin-bottom: 30px;
            }
        }
}
}

.live-container{
    margin: 0 auto;
    @include m.breakpoint(tablet){
        margin-top: 150px;
    }
    @include m.breakpoint(pc){
        margin-top: 200px;
    }
}

.live-wrapper{
    margin: 0 auto;
}

/*tabの形状*/
.tab{
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    li{
        width: calc((100% - 50px) / 3);
        text-align: center;
        @include m.breakpoint(only-tab){
            width: calc((100% - 10px) / 5);
        }
        @include m.breakpoint(pc){
            width: calc((100% - 80px) / 5);
        }
    }
    li a{
        display: block;
        background:#ddd;
        margin:0 2px;
        padding:10px 20px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 30px;
        @include m.breakpoint(tablet){
            font-size: 20px;
        }
        @include m.breakpoint(only-tab){
            padding:10px 20px;
        }
    }
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
	background:#fff;
}


/*エリアの表示非表示と形状*/
.area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	padding:30px 5px;
    max-width: 500px;
    margin: 0 auto;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.area ul li{
    font-size: 15px;
    padding:10px 0px 0px;
    text-align: left;
    &:nth-child(2){
        margin-top: 10px;
    }
    &:nth-child(3){
        margin-top: 10px;
    }
    &:nth-child(4){
        margin-top: 10px;
    }
}

        
    
/*LIVE情報のリスト*/
.list-inner{
    display: flex;
    align-items: flex-start;
    background:#fff;
    &:hover{
        box-shadow: 0px 1px 20px rgba(104, 99, 107, 0.9);
        transform: translateY(-4px);
    }
    .block_date_inner{
        text-align: left;
        padding: 10px;
        background-color: #010101;
        color: #ffffff;
        letter-spacing: 0.03em;
        border-bottom-right-radius: 20px;
        .live_date{
            display: flex;
            font-size: 10px;
            .sub-date{
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                font-size: 10px;
                padding-left: 5px;
            }
        }
        .category{
            font-size: 10px;
        }
    }
    .info-inner{
        padding-left: 1em;
        font-size: 15px;
        letter-spacing: 1px;
        .tag-wrapper{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            li {
                text-align: left;
                margin-top: 0px;
                font-size: 10px;
                border: 1px solid;
                padding: 2px;
                margin: 2px;
            }
        }
    }
}
.no_live{
    text-align: center!important;
}

/*ボタン*/
/*ボタン基本設定*/
.btn,
a.btn,
button.btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  margin-top: 20px;
  @include m.breakpoint(pc){
    margin-top: 50px;
}
}

/*6番目*/
a.btn-flat  {
  overflow: hidden;
  padding: 1rem 4rem;
  color: #fff;
  border-radius: 0;
  background: #000;
    span{
      position: relative;
    }
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 500%;
      content: "";
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
      transform: translateX(-98%) translateY(-25%) rotate(45deg);
      background: #DCD6D2;
    }
    &:hover{
      color:#000;
    }
    &:hover:before{
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
}

a.btn-type-two{
    overflow: hidden;
    padding: 1rem 4rem;
    color: #fff;
    border-radius: 0;
    background: #000;
    span{
      position: relative;
    }
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 500%;
      content: "";
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
      transform: translateX(-98%) translateY(-25%) rotate(45deg);
      background: #fff;
    }
    &:hover{
      color:#000;
    }
    &:hover:before{
      -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
      transform: translateX(-9%) translateY(-25%) rotate(45deg);
    }
}